div {
  font-size: large;
}

.page-container {
  margin-top: 80px;
}

.title {
  text-align: center;
}

.pokeball-image {
  width: 5%;
  padding: 0 20px;
}

.pokemon-list {
  margin: 0px auto;
  text-align: center;
  list-style: none;
}

li {
  margin: 20px;
}

.pokemon-image {
  width: 50%;
}

.form-inline {
  float: left;
}
