* {
  margin: 0 auto;
}

div {
  font-size: large;
}

.pokeball-image {
  width: 5%;
  padding: 0 20px;
}

.pokedex-page {
  margin: 10px;
  line-height: 1.4;
  display: grid;
}

.title {
  text-align: center;
}

.button-class {
  background-color: #4caf50; /* Green */
  border: none;
  border-radius: 10px;
  color: white;
  padding: 16px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #6a4caf;
}

.pokemon-list {
  list-style: none;
  margin: 0 auto;
}
